/*登录样式*/
html {
    color:#111;
    background-color: #ffffff;
    height: 100%;
}

body {
    margin: 0;
    background-color: #f0f3f5;
    font-size: 62.5%; /* font-size 1em = 10px */
    font-style: normal;
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    min-height: 100%;
}

/*表单样式*/
.form-wrap{
    width: 33em;
    margin: 3em auto;
}

form{
    margin: 0 auto;
    padding-top: 0.33em;
    width: 33em;
}

.form-edit-row{
    width:30em;
    margin-top: 0.333em;
}


.label{
    display: inline-block;
    width: 6em;
    height: 2em;
    line-height: 2em;
}

input:-webkit-autofill {

    -webkit-box-shadow: 0 0 0px 1000px #f0f3f5 inset;
    /*-webkit-text-fill-color: #333;*/
}

input.email, input.password{

    width: 20em;
    height: 2em;
    line-height: 2em;
    font-size: 1em;
    border: solid 0.1em #c9c9c9;
    border-radius: 0.3em;
    background-color: #f0f3f5;
    margin-top: 1em;
    padding: 0.3em 2em;
}

.form-check-row{
    margin-top: 1em;
    margin-bottom: 1em;
}

input[type=submit]{
    cursor: pointer;
    width: 7em;
    background-color: #528641;
    padding: 0.6em 2em;
    color: white;
    border: 0em;
    border-radius: 0.2em;
}

.register-tips{
    color:#666;
    display: inline-block;
    margin-left: 1em;
}

.errors{
    margin: 0 auto;
    display: block;
    width: 33em;

}

.error{
    color: indianred;
    margin-bottom: 0.333em;
}